<div class="main-layout-container">
    <!-- app header -->
    <mat-toolbar color="primary" class="main-header-nav mat-elevation-z4">
        <span class="mat-h1">Bitmap</span>
        <div class="flex-spacer">
        </div>
        <div class="team-selector-container">
            <span class="mat-body">市场监管项目组</span>
            <mat-icon class="team-switch-button" routerLink="/teamSelect">swap_horiz</mat-icon>
        </div>
        <nz-divider nzType="vertical"></nz-divider>
        <bitmap-theme-picker></bitmap-theme-picker>
        <mat-icon class="header-chat-button">sms</mat-icon>
        <nz-divider nzType="vertical"></nz-divider>
        <nz-avatar nzIcon="user"></nz-avatar>
    </mat-toolbar>
    <!-- app body -->
    <mat-sidenav-container class="main-body-container">
        <!-- 侧边导航 -->
        <mat-sidenav mode="side" opened class="side-nav-wrapper">
            <section class="side-nav-section">
                <nav>
                    <ul class="side-nav-root" nz-menu [nzMode]="'vertical'">
                        <li nz-menu-item>
                            <i nz-icon nzType="home"></i>
                            <a [routerLink]="['/', 'home']">首页</a>
                        </li>
                        <li nz-menu-item>
                            <i nz-icon nzType="cloud-server"></i>
                            <a [routerLink]="['/', 'publish']">服务发布</a>
                        </li>
                        <li nz-submenu nzTitle="数据存储" nzIcon="appstore">
                            <ul>
                                <li nz-menu-item>
                                    <a [routerLink]="['/','data-store','workspace']">工作区</a>
                                </li>
                                <li nz-menu-item>
                                    <a [routerLink]="['/','data-store','data-source']">数据源</a>
                                </li>
                                <li nz-menu-item>
                                    <a [routerLink]="['/','data-store','styles']">样式库</a>
                                </li>
                            </ul>
                        </li>
                        <li nz-submenu nzTitle="服务管理" nzIcon="control">
                            <ul>
                                <li nz-menu-item>服务预览</li>
                                <li nz-menu-item>服务管理</li>
                                <li nz-menu-item>服务分组</li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div class="nav-item-wrapper">
                    <i nz-icon nzType="setting"></i>
                    <span class="name mat-body-strong">设置</span>
                </div>
            </section>
        </mat-sidenav>
        <!-- 应用页容器 -->
        <mat-sidenav-content class="content-container">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>