<div class="main-layout-container">
    <mat-toolbar color="primary" class="main-header-nav mat-elevation-z4">
        <span class="mat-h1">Bitmap</span>
        <div class="flex-spacer">
            <mat-form-field class="group-search">
                <input matInput type="text">
                <button mat-button matSuffix mat-icon-button aria-label="search">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="team-selector-container">
            <span class="mat-body">市场监管项目组</span>
            <mat-icon class="team-switch-button" routerLink="/teamSelect">swap_horiz</mat-icon>
        </div>
        <nz-divider nzType="vertical"></nz-divider>
        <bitmap-theme-picker></bitmap-theme-picker>
        <mat-icon class="header-chat-button">sms</mat-icon>
        <nz-divider nzType="vertical"></nz-divider>
        <nz-avatar nzIcon="user"></nz-avatar>
    </mat-toolbar>
    <mat-sidenav-container class="group-side-container" style="height: 100%">
        <mat-sidenav mode="side" opened class="side-nav-wrapper">
            <section class="side-nav-section">
                <nav>
                    <ul>
                        <li *ngFor="let relevant of relevantNavs">
                            <div class="nav-item-wrapper">
                                <mat-icon>{{relevant.icon}}</mat-icon>
                                <span class="name mat-body-strong">{{relevant.name}}</span>
                            </div>
                        </li>
                    </ul>
                </nav>
                <div class="nav-item-wrapper">
                    <mat-icon>settings</mat-icon>
                    <span class="name mat-body-strong">设置</span>
                </div>
            </section>
        </mat-sidenav>
        <mat-sidenav-content class="content-container">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>