<div class="data-source-main-container mat-elevation-z2">
    <h2>数据源</h2>
    <mat-divider></mat-divider>
    <div class="table-header-operations">
        <button mat-raised-button>新增数据源</button>
        <button mat-raised-button>移除选中的数据源</button>
    </div>
    <nz-table #borderedTable nzBordered [nzData]="dataSource" [nzScroll]="{ y: '450px' }">
        <thead>
            <tr>
                <th nzWidth="75px"></th>
                <th>数据源名称</th>
                <th>所属工作区</th>
                <th nzWidth="300px">描述</th>
                <th nzWidth="75px">启用</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of borderedTable.data">
                <td nzChecked></td>
                <td>{{ data?.name }}</td>
                <td>{{ workspaceName}}</td>
                <td>{{ (data.detail | async)?.dataStore.description}}</td>
                <td>
                    <ng-container *ngIf="(data.detail | async)?.dataStore.enabled;else isNotDefault">
                        <i nz-icon nzType="check" nzTheme="outline"></i>
                    </ng-container>
                    <ng-template #isNotDefault><i nz-icon nzType="close" nzTheme="outline"></i></ng-template>
                </td>
                <td>
                    <a>删除</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a>编辑</a>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>