<div class="workspace-main-container mat-elevation-z2">
    <h2>工作区</h2>
    <mat-divider></mat-divider>
    <div class="table-header-operations">
        <button mat-raised-button (click)="openAddWorkspaceDialog()">新增工作区</button>
        <button mat-raised-button>移除选中的工作区</button>
    </div>
    <nz-table #borderedTable nzBordered [nzData]="dataSource" [nzScroll]="{ y: '450px' }">
        <thead>
            <tr>
                <th nzWidth="75px"></th>
                <th>工作区名称</th>
                <th>href</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of borderedTable.data">
                <td nzChecked></td>
                <td>{{ data.name }}</td>
                <!-- <td>
                    <ng-container *ngIf="data.isDefault;else isNotDefault">
                        <i nz-icon nzType="check" nzTheme="outline"></i>
                    </ng-container>
                    <ng-template #isNotDefault><i nz-icon nzType="close" nzTheme="outline"></i></ng-template>
                </td>
                <td><i nz-icon nzType="check" nzTheme="outline"></i></td> -->
                <td>{{ data.href }}</td>
                <td>
                    <a (click)="openDeleteWorkspaceConfirm(data)">删除</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a (click)="openEditWorkspaceDialog(data)">编辑</a>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>