:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.select-layout-wrapper {
  display: flex;
  flex-flow: column nowrap;
  max-height: 85%;
}

.team-select-wrapper {
  flex: 1;
  width: 650px;
  padding: 20px 0;
}

.team-create-wrapper {
  margin-top: 20px;
  padding: 0 20px;
  width: 650px;

  .create-team-button {
    width: 100%;
    margin: 20px 0;
  }
}
