.layer-preview-main-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.map-preview-container {
  display: flex;
  flex: 1;
  margin-top: 16px;
  padding: 8px;
}

.layer-list-container {
  width: 280px;
  height: 100%;
}

.map-container {
  flex: 1;
  height: 100%;
  margin-left: 8px;
  padding: 8px;
  border: 1px dashed #999;
  border-radius: 6px;
  background-color: #fafafa;
  div#map {
    height: 100%;
  }
}
