<section class="project-list">
    <h3 class="mat-h3">项目列表</h3>
    <ng-container *ngFor="let project of projectList">
        <bitmap-project-list-item [project]="project" (projectClick)="routeToProjectDetail($event)">
        </bitmap-project-list-item>
    </ng-container>
    <div class="no-result-card-container">
        <img src="/assets/images/search.png">
        <button class="project-add-button" (click)="openProjectCreatorDialog()" mat-raised-button
            color="primary">新建项目</button>
    </div>
</section>